@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

* {
    font-family: 'Anek Malayalam', sans-serif;
}

.read {
    background-color: #B4E197;
}

.read:hover {
    background-color: #83BD75;
}

.notRead {
    background-color: #EF9F9F;
}

.notRead:hover {
    background-color: #F47C7C;
}

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 14px 20px;
}

#logo {
    font-size: 2rem;
}

#login {
    font-size: 1.2em;
}

.addbook {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.add {
    font-size: 23px;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.add:hover {
    cursor: pointer;
    background-color: #EEEEEE;
    border-radius: 7px;
}

.grid-container {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 240px);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 16px;
    font-size: 25px;
    line-height: 35px;
    border-radius: 8px;
}

.btn {
    width: 100%;
    font-size: 20px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.readBtn {
    margin-bottom: 10px;
}

.removeBtn:hover {
    background-color: #DDDDDD;
}